/* https://codepen.io/CSWApps/pen/waNNpL */


.menuJTE {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5%;
	padding: 0.5rem 0.5rem 0.3rem;
	color: #fff;
}
.menuJTE:hover {
	color: #3d3d36;
	border-color: #3d3d36;
	background-color: #cdccb3;
	text-decoration: none;
}

.menuWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.menuLine {
	height: 2px;
	width: 60%;
	display: block;
	line-height: 2px;
	margin-bottom: 6px;
	border: 1px solid;
}
.menuLine:nth-of-type(2) {
	width: 100%;
	border: 1px solid;
}
.menuText {
	font-family: Eurofurence;
	font-size: 1.1rem;
}


.fs-jte-1 {
	font-size: calc(1.325rem + .9vw) !important;
}

.btnJTE {
	border: 2px solid;
	border-radius: 5%;
	display: inline-block;
	cursor:	pointer;
	font-family: Eurofurence;
	font-size: 1rem;
	padding: 10px 14px;
	margin-top: 8px;
	text-decoration: none;
}

.btnJTEinquiry {
	background-color: #a4a38f;
	color: #292924;
	opacity: 0.8;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.btnJTE {
		border: 2px solid;
		border-radius: 5%;
		display: inline-block;
		cursor:	pointer;
		font-family: Eurofurence;
		font-size: 1.4rem;
		padding: 12px 24px;
		text-decoration: none;
	}
	
	.fs-jte-1 {
		font-size: calc(0.7rem + 1.5vw) !important;
	}
}

.btnJTEbooking {
	background-color: #f0f0e8;
	color: #292924;
	opacity: 0.8;
}

.btnJTE:hover {
	background-color:#cdccb3;
	color: #292924;
	opacity: 1;
	text-decoration: none;
}

/* Carousel Image Slider == Bootstrap Default Override */
.BS5carousel-control-next, .BS5carousel-control-prev {
	z-index: 1;
	color: #000;
	text-align: center;
	opacity: .5;
	background: grey;
	border: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	width: 12%;
	padding: 0;
	transition: opacity .15s;
	display: flex;
	position: absolute;
	right: 0;
}
.BS5carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8'/%3e%3c/svg%3e");
}

.BS5carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3e%3c/svg%3e");
}

.BS5carousel-control-prev {
	 bottom: 2.5rem;
}
.BS5carousel-control-next {
	 bottom: 1rem;
}
.BS5carousel-control-next-icon, .BS5carousel-control-prev-icon {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 2rem;
	height: 2rem;
	display: inline-block;
}

/* Scroll Button No. 3 */
.chevronDown {
	cursor: pointer;
	color: #fff;
	height: 50px;
	position: absolute;
	z-index: 99;
	bottom: 20px;
	animation: chevronDown 2s linear 1s 1 normal none;
}
	@keyframes chevronDown {
		0% {
			animation-timing-function: ease-in;
			opacity: 0;
			transform: translateY(-250px);
		}

		38% {
			animation-timing-function: ease-out;
			opacity: 1;
			transform: translateY(0);
		}

		55% {
			animation-timing-function: ease-in;
			transform: translateY(-65px);
		}

		72% {
			animation-timing-function: ease-out;
			transform: translateY(0);
		}

		81% {
			animation-timing-function: ease-in;
			transform: translateY(-28px);
		}

		90% {
			animation-timing-function: ease-out;
			transform: translateY(0);
		}

		95% {
			animation-timing-function: ease-in;
			transform: translateY(-8px);
		}

		100% {
			animation-timing-function: ease-out;
			transform: translateY(0);
		}
	}

.pulse:hover {
	transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Bootstrap 5 Tabs Style */

ul.nav-tabs > li > button {
	color: #666;
	background: #f0f0e8;
}
ul.nav-tabs > li > button .active{
	color: #000;
}
ul.nav-tabs > li:hover > button {
	color: #fff;
	background: #a4a38f;
}