
.ebLogo .ebFooterPos { /* ausblenden Powered By EB */
	display: none;
}

/* Preislisten Stile */

.EBPRC-loading {
    display: none;
    position: fixed;
    width:40px;
    height:40px;
    background: url('//www.easy-booking.at/clientWeb001/img/ajax-loader.gif') 50% 35% no-repeat;
    /*opacity:0.8;*/
    z-index:9999;
    text-align: center;
    top:50%;
    left:50%;
    margin: -20px 0 0 -20px;
    z-index: 9999999;
}

.EBPRC-box {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.EBPRC-button {
    border: none;
    padding: 7px 13px;
    text-decoration: none;
}
.EBPRC-wrapper {
    clear: both;
    width: 100%;
    /*max-width:980px;*/
    /*border: 1px solid #e0e4e8;*/
    float:left;
    /*padding:0 10px;*/
}
.EBPRC-wrapper .EBPRC-dateselection {
    width: 100%;
    padding: 16px;
    background: #fafafa;
    border: 1px solid #cccccc;
    clear:both;
    float:left;
    text-align: left;
}

.EBPRC-wrapper .EBPRC-dateselection label {
	padding-right: 15px;
}

.EBPRC-wrapper .EBPRC-dateselection input {
	border: 1px solid #CCCCCC;
	padding: 7px 6px;
	z-index: 10 !important;
}

.EBPRC-wrapper .EBPRC-category-buttons {
    width: 100%;
    clear:both;
    height: 50px;
	background: #fff;
}
.EBPRC-wrapper .EBPRC-category-buttons .EBPRC-category-servicetype {
    float:left;
    vertical-align: middle;
    padding-left: 10px;
}

.EBPRC-wrapper .EBPRC-category-buttons .EBPRC-category-servicetype select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 7px 6px;
    width: 160px;
    margin-top: 10px;
    font-size: 1em;
}

.EBPRC-wrapper .EBPRC-category-buttons .EBPRC-category-cta {
    float:right;
    height:50px;
    line-height:50px;
    vertical-align: middle;
    padding-right: 10px;
}


.EBPRC-wrapper .EBPRC-result {
    width: 100%;
    float: left;
    clear:both;
    margin-top: 16px;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory {
    border: 1px solid #cccccc;
    background: #F0F1F3;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    clear:both;
    padding-bottom: 10px;
    /*margin-top: 16px;*/
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-title {
    border-bottom: 1px solid #cccccc;
	background: #a4a38f;
}
.EBPRC-onecategory:nth-child(2n+1) .EBPRC-category-title:nth-of-type(1) {
	background: #116a3a;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-title h3 {
    margin:0;
    line-height: 36px;
    color: #fff;
	font-size:24px;
	vertical-align: middle;
    text-align: left;
    padding-left: 10px;
}


/* price columns */
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable {
    width:100%;
    float:left;
    clear:both;
    position:relative;
	background: #fff;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-persons {
    width:25%;
    float:left;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-pricecol-wrapper {
    position:relative;
    width:75%;
    float:left;
    overflow: hidden;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-navbuttons {
    position: absolute;
    top: 0;
    left: 25%;
    right: 0;
    height:40px;
    bottom: 0;
    z-index: 3;
    /*background: #d3d3d3;*/
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-activecol-overlay {
    position: absolute;
    left: 0;
    top: 0;
    min-height:20px;
    bottom: 0;
    z-index: 1;
    background: #d3d3d3;
    border-right:1px solid #FFF;
    border-left:1px solid #FFF;
}
.EBPRC-nextPeriod {
    float:right;
    cursor:pointer;
    z-index:99;
    margin: 0;
    background: #666;
    padding: 0px 8px;
    font-size: 14px;
    line-height: 40px;
    height:40px;
    right: 0px;
}
.EBPRC-prevPeriod {
    float:left;
    cursor:pointer;
    z-index:99;
    margin: 0;
    background: #666;
    padding: 0px 8px;
    font-size: 14px;
    line-height: 40px;
    height:40px;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-pricecol-wrapper .EBPRC-pricecols {
    position: relative;
    width:99999px;
    z-index: 1;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricecol {
    width:150px;
    float:left;
    text-align: center;
    min-height:20px;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricerow {
    clear:left;
    height:35px;
    line-height:35px;
    vertical-align: middle;
    /*float:left;*/
    text-align: center;
    /*border-right:1px solid #FFF;*/    
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-persons .EBPRC-onepricerow {
	text-align: left;
	padding-left: 10px;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricerow:nth-child(even) {
    /*background:#f6f6f6;*/
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricerow:first-child {
    /*background:#f6f6f6;*/
    border-top: 0px solid #f6f6f6;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricerow:last-child {
    /*background:#f6f6f6;*/
    border-bottom: 0px solid #f6f6f6;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricecol-active .EBPRC-onepricerow:not(.EBPRC-onepricerow-heading) {
    background:none;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricerow-heading {
    background: #F0F1F3;
    min-height: 40px;
    /*border-right:none;*/
}

.EBPRC-onecategory .EBPRC-priceinfo {
    padding-top:10px;
    clear:both;
    width:100%;
    border-top: 1px solid #cccccc;
}

.EBPRC-priceinfo-general {
    float:left;
    width: 70%;
    padding:10px 5px;
    text-align: left;
}

.EBPRC-priceinfo-general p{
	margin: 0px;
	padding: 0px;
}

.EBPRC-priceinfo-more {
    float:right;
    text-align: right;
    padding:10px 5px;
}


.EBPRC-priceinfo-text {
    display:none;
    clear:both;
    width:100%;
    padding-left:5px;
    text-align: left;
}
.EBPRC-priceinfo-text li {
    margin-left:20px;
}


.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table {
    margin: 0;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr th, .EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr td {
    text-align: center;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr th {
    background: #d8d5ce;
    font-size: 16px;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr th:first-child {
    color: #fff;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr th:first-child, .EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr td:first-child {
    text-align: left;
    padding-left:10px;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr td {
    border-bottom: 1px solid #ccd6e0;
    width: 25%;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr:nth-child(even) {
    background: #f6f6f6;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr:nth-child(odd) {
    background: #fff;
}
.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable table tr td:nth-child(3) {
    background: #edeceb;
}

/* DATEPICKER */
.ui-datepicker-div {
    z-index:99999;
}


@media (max-width: 490px){

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable {
    font-size: 14px;
}

.EBPRC-button {
margin-top: 10px;
    width:100%;
}

.EBPRC-wrapper .EBPRC-dateselection {
    padding: 10px;
}

.EBPRC-wrapper .EBPRC-category-buttons .EBPRC-category-servicetype {
    width: 97%;
}

.EBPRC-wrapper .EBPRC-category-buttons .EBPRC-category-servicetype select {
    width: 100%;
}

.EBPRC-nextPeriod {
    margin: 0 -6px 0 0;
}
.EBPRC-prevPeriod {
    margin: 0 0 0 6px;
}

.EBPRC-priceinfo-more {
    float: left;
    padding: 0 5px;
    text-align: right;
    width: 100%;
	margin-bottom: 8px;
}

.EBPRC-wrapper .EBPRC-category-buttons .EBPRC-category-cta {
    float: left;
    padding: 0 10px;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-persons {
    float: left;
    width: 35%;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-pricecol-wrapper {
    float: left;
    overflow-x: hidden;
    position: relative;
    width: 65%;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-navbuttons {
    position: absolute;
    left: 33%;
    top: 0;
    min-height:35px;
    bottom: 0;
    /*background: #d3d3d3;*/
}
.EBPRC-prevPeriod i.fa, .EBPRC-prevPeriod i.fa {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}

.EBPRC-wrapper .EBPRC-result .EBPRC-onecategory .EBPRC-category-resulttable .EBPRC-onepricerow-heading {
    padding-top: 5px;
}
	    
}

.EBPRC-togglepriceinfo {
	border: 1px solid #8e8e8e;
	padding: 8px 15px;
	background-color: #a4a38f;
	color: #fff;
}
.EBPRC-onecategory:nth-child(2n+1) .EBPRC-togglepriceinfo:nth-of-type(1) {
	background-color: #116a3a;
}
.EBPRC-togglepriceinfo:hover,
.EBPRC-onecategory:nth-child(2n+1) .EBPRC-togglepriceinfo:nth-of-type(1):hover {
	background-color: #cdccb3;
	text-decoration: none;
	color: #000;
}

.EBPRC-booking:hover,
.EBPRC-enquiry:hover {
	background-color:#cdccb3;
	color: #292924;
	opacity: 1;
	text-decoration: none;
}