
#jteSlider {
	margin-bottom: 1rem;
} 
#jteSlider div.mod-randomimage, #mod-custom122 {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 6rem;
	text-align: center;
}
#jteSlider .carousel-caption {
	bottom: 50%;
}

/* Carousel Image Slider */
.divbg {
    margin: auto;
    overflow: auto;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/*.carousel-control-next, .carousel-control-prev {

}*/

@media (min-width: 992px) {
	div.carousel-caption>h3 {font-size: 60px;}
	div.carousel-caption>p {font-size: 40px;}
}